---
import { Swiper, SwiperWrapper, SwiperSlide } from "astro-swiper";
import Img from "@/components/ui/Img.astro";
import { data as PortofolioImages } from "@/content/data/portofolio.json";
import bsm from "@/content/data/bsm.json";
import { Icon } from "astro-icon/components";
---

<section id="intro" class="relative isolate">
  <Swiper options={{ autoplay: { delay: 5000 }, loop: true, effect: `fade` }}>
    <SwiperWrapper>
      {
        PortofolioImages.slice(0, 10).map((src, i) => (
          <SwiperSlide>
            <div class="h-svh">
              <Img
                src={src}
                alt={`Portofolio ${i}`}
                width={1920}
                height={1080}
                class="size-full object-center object-cover"
                priority
              />
            </div>
          </SwiperSlide>
        ))
      }
    </SwiperWrapper>
  </Swiper>

  {/* Teks intro */}
  <div
    class="absolute inset-0 z-10 m-auto flex size-fit flex-col items-center justify-center rounded-sm bg-black/25 px-4 py-8 text-center backdrop-blur-xs text-shadow-md"
  >
    <h1
      class="flex flex-col text-7xl font-black tracking-tighter text-yellow-300 uppercase lg:flex-row lg:gap-x-4"
    >
      {bsm.label.split(" ").map((w) => <span>{w}</span>)}
    </h1>

    <p
      class="mx-auto mt-4 hidden text-sm text-gray-200 md:block md:max-w-8/10 lg:max-w-(--breakpoint-md) lg:text-lg xl:max-w-(--breakpoint-lg)"
    >
      {bsm.deskripsi}
    </p>
  </div>

  {/* Skip to konten */}
  <button
    type="button"
    id="skip-intro"
    class="js-button-skip absolute bottom-4 left-1/2 z-30 -translate-x-1/2 animate-bounce rounded-full border border-white/50 bg-white/10 p-2 text-white backdrop-blur-sm transition hover:scale-120 hover:bg-white hover:text-black"
    aria-label="Lanjutkan ke konten"
  >
    <Icon name="bi:arrow-down" size="1.5rem" />
  </button>

  <script>
    const button = document.getElementById("skip-intro") as HTMLButtonElement | null;

    button?.addEventListener("click", () => {
      const target = document.getElementById("intro")?.nextElementSibling as HTMLElement | null;

      if (target) {
        const header = document.getElementById("site-header") as HTMLElement | null;
        const headerFixed = header?.classList.contains("fixed");
        const headerSticky = header?.classList.contains("sticky");
        const headerHeight = headerFixed || headerSticky ? (header?.offsetHeight ?? 0) : 0;

        const top = target.getBoundingClientRect().top + window.scrollY - headerHeight;
        window.scrollTo({ top, behavior: "smooth" });
      }
    });
  </script>
</section>
