---
import Section from "@/layouts/Section.astro"
import Img from "@/components/ui/Img.astro"
import { id, label, deskripsi, data } from "@/content/data/layanan.json"
const meta = { id, label, deskripsi }
---

<Section {...meta}>
  <div class="grid gap-px border border-gray-200 bg-gray-200 md:grid-cols-2 lg:grid-cols-3">
    {
      data.map(({ label, gambar }, i) => (
        <figure
          class:list={[
            "relative h-80 overflow-hidden bg-white lg:h-120",
            i === 0 || i === 3 || i === 4 ? "lg:col-span-2" : "",
          ]}
        >
          <Img
            src={gambar}
            alt={label}
            width="640"
            height="640"
            class="size-full object-cover object-center brightness-75"
          />

          <figcaption class="absolute inset-0 top-auto p-4 text-xl font-black tracking-tighter text-white uppercase lg:p-6 lg:text-2xl xl:text-3xl">
            {label}
          </figcaption>
        </figure>
      ))
    }
  </div>
</Section>
