@import "tailwindcss";

@layer theme {
  :root,
  :host {
    --default-font-family: "Roboto", var(--font-sans);

    --default-transition-duration: 0.2s;

    @media (prefers-reduced-motion: reduce) {
      --default-transition-duration: 1ms;
    }
  }
}

@utility container {
  @apply mx-auto max-w-7xl;
}

@view-transition {
  navigation: auto;
}
