---
import { Image } from "astro:assets";
import { Swiper, SwiperWrapper, SwiperSlide } from "astro-swiper";
import { getImagesByFolders } from "@/utils/image.util";
import { getKontenById } from "@/utils/konten.util";
const folder = ["branding", "interior", "billboard"];
const images = getImagesByFolders(folder);
const teks =
  "It is a creative hub where imagination meets craftsmanship to transform ideas into tangible realities. We specialize in turning conceptual visions into concrete forms, whether it be through design, artistry, or technological innovation.";
---

<section id="intro" class="relative overflow-hidden isolate">
  <Swiper
    options={{
      autoplay: {
        delay: 5000,
      },
      loop: true,
      effect: `fade`,
    }}
  >
    <SwiperWrapper>
      {
        images.map((image, i) => (
          <SwiperSlide>
            <div class="w-full h-[calc(100svh-4rem)] overflow-hidden">
              <Image
                src={image}
                alt={`Slideshow #${i}`}
                loading="lazy"
                class="h-full w-full object-cover object-center"
              />
            </div>
          </SwiperSlide>
        ))
      }
    </SwiperWrapper>
  </Swiper>

  <div
    class="absolute inset-0 z-20 flex flex-col items-center justify-center bg-radial from-transparent to-black/75 p-4 text-center text-shadow-xs"
  >
    <h1
      class="font-(family-name:--default-font-family) font-extrabold tracking-tighter text-white uppercase xl:text-7xl"
    >
      {getKontenById("beranda").label}
    </h1>
  </div>
</section>
