---
import Section from "../layouts/Section.astro";
import FotoGaleri from "../shared/FotoGaleri.astro";
import { getKontenById } from "@/utils/konten.util";
const konten = getKontenById("portofolio");
---

<Section
  id={konten.id}
  label={konten.label}
  deskripsi={konten.deskripsi}
  class="border-t border-gray-300"
>
  <FotoGaleri
    ids={["billboard", "branding", "interior"]}
    class="grid grid-cols-2 gap-4 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6"
  />
</Section>
