---
import type { BaseType } from "@/data/types";

type Props = BaseType<{
  deskripsi: string;
  class?: string;
}>;

const { id, label, deskripsi, class: classList } = Astro.props;
---

<section id={id} class={classList}>
  <div class="container px-4 py-12 lg:py-24">
    <hgroup class="mb-12 text-center">
      <h2>{label}</h2>
      <p class="mx-auto mt-2 text-gray-600 md:mt-4 md:max-w-xl lg:max-w-2xl">
        {deskripsi}
      </p>
    </hgroup>

    <slot />
  </div>
</section>
