---
import { Icon } from "astro-icon/components";
import { navigasi } from "@/data/navigasi";
import type { NavigasiType } from "@/data/types";
import { isNavActive } from "@/utils/nav.util";
const active = (item: NavigasiType) => isNavActive(Astro.url.pathname, item);
---

<input id="navToggle" type="checkbox" class="peer hidden" />

<label
  for="navToggle"
  class="ml-auto flex items-center rounded-sm border border-gray-300 peer-checked:border-blue-500 peer-checked:bg-blue-500 peer-checked:text-white peer-checked:[&>.buka]:hidden [&>.tutup]:hidden peer-checked:[&>.tutup]:block lg:hidden"
  aria-label="Klik untuk membuka atau menutup menu navigasi"
>
  <Icon name="bi:list" size="48" class="buka" />
  <Icon name="bi:x-lg" size="48" class="tutup" />
</label>

<nav
  class="absolute hidden top-full right-4 bg-blue-500 shadow-md shadow-black/35 peer-checked:block lg:static lg:ml-auto lg:flex lg:items-center lg:bg-transparent lg:shadow-none"
>
  <ul class="lg:flex lg:gap-x-2">
    {
      navigasi.map((item) => {
        return (
          <li
            class={`group relative not-first:border-t border-blue-600 lg:rounded-sm ${item.subnav ? "lg:hover:rounded-b-none" : ""} lg:not-first:border-none lg:hover:bg-blue-500 lg:transition lg:hover:shadow-md lg:shadow-black/25 lg:has-[>[aria-current=true]]:bg-blue-500 lg:has-[>[aria-current=true]]:shadow-md`}
          >
            <a
              href={item.href}
              class={`block px-6 py-4 text-gray-200 group-hover:text-white lg:px-4 lg:py-3 lg:text-gray-700 lg:transition-colors lg:aria-current:text-white`}
              aria-current={item.subnav && active(item) ? "page" : null}
            >
              <span>{item.label}</span>
            </a>

            {item.subnav && (
              <ul class="lg:absolute lg:top-full lg:z-10 lg:hidden lg:bg-blue-500 lg:rounded-md lg:rounded-tl-none lg:opacity-0 lg:shadow-md lg:shadow-black/25 lg:transition lg:transition-discrete lg:group-hover:block lg:group-hover:opacity-100 lg:starting:group-hover:opacity-0">
                {item.subnav.map((item) => {
                  return (
                    <li class="border-t border-blue-600 lg:first:border-none">
                      <a
                        href={item.href}
                        class="flex items-center gap-x-2 px-6 py-4 text-gray-200 transition-colors hover:text-white lg:px-4"
                      >
                        <Icon name="bi:arrow-return-right" />
                        <span class="grow whitespace-nowrap">{item.label}</span>
                      </a>
                    </li>
                  );
                })}
              </ul>
            )}
          </li>
        );
      })
    }
  </ul>
</nav>
