---
import { Icon } from "astro-icon/components";
import { getKontenById } from "@/utils/konten.util";
---

<footer class="border-t-4 border-gray-300 mt-auto">
  <div class="container flex items-center gap-4 p-4">
    <Icon name="faviconDark" size="3rem" />

    <span class="inline-flex uppercase md:gap-x-1">
      <span>&copy; {new Date().getFullYear()}</span>
      <span class="hidden md:inline">-</span>
      <span>{getKontenById("beranda").label}</span>
    </span>
  </div>
</footer>
