---
import PageLayout from "@/layouts/PageLayout.astro";
import BtnLink from "@/components/ui/BtnLink.astro";
---

<PageLayout
  label="Halaman Tidak Ditemukan"
  deskripsi="Halaman yang Anda akses mungkin telah dihapus, diubah namanya, atau tidak tersedia untuk sementara waktu."
>
  <div class="mb-24 text-center">
    <BtnLink href="/" class="text-white hover:bg-gray-700">Kembali ke Beranda</BtnLink>
  </div>
</PageLayout>
