---
import { Swiper, SwiperWrapper, SwiperSlide } from "astro-swiper";
import { Icon } from "astro-icon/components";
import Img from "@/components/ui/Img.astro";

import { label, deskripsi } from "@/content/data/bsm.json";
import { data } from "@/content/data/portofolio.json";
---

<section id="intro" class="relative isolate h-svh overflow-hidden">
  <Swiper options={{ autoplay: { delay: 5000 }, loop: true, effect: `fade` }}>
    <SwiperWrapper>
      {
        data.map((image, i) => (
          <SwiperSlide>
            <div class="w-full h-svh overflow-hidden">
              <Img
                src={image}
                alt={`Portofolio ${i}`}
                loading="lazy"
                class:list={["size-full", "object-cover", "object-center"]}
              />
            </div>
          </SwiperSlide>
        ))
      }
    </SwiperWrapper>
  </Swiper>

  <div
    class:list={[
      "absolute",
      "inset-0",
      "z-20",
      "flex",
      "flex-col",
      "items-center",
      "justify-center",
      "p-4",
      "text-center",
      "text-white",
    ]}
  >
    <h1
      class:list={[
        "flex",
        "flex-col",
        "text-7xl",
        "font-black",
        "tracking-tighter",
        "text-[#FF0]",
        "uppercase",
        "lg:flex-row",
        "lg:gap-x-4",
      ]}
    >
      {label.split(" ").map((w) => <span>{w}</span>)}
    </h1>
    <p
      class:list={[
        "mx-auto",
        "mt-4",
        "hidden",
        "text-sm",
        "md:block",
        "md:max-w-8/10",
        "lg:text-lg",
        "lg:max-w-(--breakpoint-md)",
        "xl:max-w-(--breakpoint-lg)",
      ]}
    >
      {deskripsi}
    </p>
  </div>

  <button
    type="button"
    class:list={[
      "absolute",
      "bottom-4",
      "left-1/2",
      "z-30",
      "-translate-x-1/2",
      "animate-bounce",
      "rounded-full",
      "border",
      "border-white/50",
      "bg-white/10",
      "p-2",
      "text-white",
      "backdrop-blur-sm",
      "transition",
      "hover:scale-120",
      "hover:bg-white",
      "hover:text-black",
    ]}
    data-intro-skipped
  >
    <Icon name="bi:arrow-down" size="1.5rem" />
  </button>

  <script>
    const btn = document.querySelector<HTMLButtonElement>("[data-intro-skipped]")!;

    btn.addEventListener("click", () => {
      const top = window.innerHeight;

      window.scrollTo({
        top: top,
        behavior: "smooth",
      });
    });
  </script>
</section>
