---
import { data } from "@/content/data/kontak.json";
import { Icon } from "astro-icon/components";
---

<a
  href={`https://wa.me/${data.whatsapp.replace("0", "62")}`}
  rel="me"
  target="_blank"
  aria-label="Hubungi Kami di WhatsApp"
  class="fixed right-4 bottom-4 z-10 inline-block rounded-full bg-[#00A046] p-2.5 text-sm ring-4 ring-gray-300 transition hover:scale-120 hover:ring-black/15 hover:before:absolute hover:before:right-16 hover:before:rounded-sm hover:before:bg-gray-900 hover:before:px-2 hover:before:py-1 hover:before:whitespace-nowrap hover:before:text-white hover:before:transition hover:before:duration-500 hover:before:content-[attr(aria-label)] starting:hover:before:right-10 starting:hover:before:opacity-0"
>
  <Icon name="bi:whatsapp" class="text-3xl text-white" />
</a>
