---
import { data } from "@/content/data/kontak.json";
import { Icon } from "astro-icon/components";
---

<a
  id="whatsapp-button"
  href={`https://wa.me/${data.whatsapp.replace("0", "62")}`}
  rel="me"
  target="_blank"
  aria-label="Hubungi Kami di WhatsApp"
  class="fixed right-4 bottom-4 z-50 scale-100 rounded-full bg-[#00A046] p-2.5 text-3xl text-white opacity-100 ring-4 ring-gray-300 transition-all transition-discrete hover:scale-120 hover:ring-black/15 starting:-bottom-4 starting:scale-0 starting:opacity-0 [&.hidden]:-bottom-4 [&.hidden]:scale-0 [&.hidden]:opacity-0"
>
  <Icon name="bi:whatsapp" />
</a>
