---
import BaseLayout from "./BaseLayout.astro";
import Hgroup from "@/components/ui/Hgroup.astro";

type Props = {
  label: string;
  deskripsi: string;
};

const { label, deskripsi } = Astro.props;
---

<BaseLayout label={`${label} - Bintang Surya Madani`} deskripsi={deskripsi}>
  <main class="container px-4 py-12 lg:pb-24">
    <Hgroup
      class="mb-12 text-center"
      hclass="text-3xl font-black tracking-tighter text-gray-800 uppercase lg:text-4xl xl:text-5xl"
      pclass="md:mt-4"
    >
      <Fragment slot="label" set:text={label} />
      <Fragment slot="deskripsi" set:text={deskripsi} />
    </Hgroup>

    <slot />
  </main>
</BaseLayout>
