---
import Hgroup from "@/components/ui/Hgroup.astro";

type Props = {
  label: string;
  deskripsi: string;
  id?: string;
  class?: string;
};

const { id, label, deskripsi, class: className } = Astro.props;
---

<section id={id} class:list={["border-t border-gray-200", className]}>
  <div class="container px-4 py-12 lg:py-24">
    <Hgroup
      as="h2"
      class="mb-12 text-center"
      hclass="text-2xl font-black tracking-tighter text-gray-800 uppercase lg:text-3xl xl:text-4xl"
    >
      <Fragment slot="label" set:text={label} />
      <Fragment slot="deskripsi" set:text={deskripsi} />
    </Hgroup>

    <slot />
  </div>
</section>
