---
import Hgroup from "@/components/ui/Hgroup.astro"

type Props = {
  id?: string
  label: string
  deskripsi: string
  class?: string
}

const { id, label, deskripsi, class: className } = Astro.props
---

<section {id} class:list={["border-t border-gray-200", className]}>
  <div class="container py-12 lg:py-24">
    <Hgroup as="h2" {label} {deskripsi} />

    <slot />
  </div>
</section>
