---
import type { HTMLAttributes } from "astro/types";

type Props = Omit<HTMLAttributes<"a">, "class"> & {
  class?: string;
};

const { class: className, ...props } = Astro.props;
---

<a class:list={["inline-block px-4 py-2", className]} {...props}>
  <slot name="before-content" />

  <slot />

  <slot name="after-content" />
</a>
