---
import type { HTMLTag, Polymorphic } from "astro/types";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
  label?: string;
  deskripsi?: string;
  class?: string;
  hClass?: string;
};

const { as: Tag = "h1", label, deskripsi, class: className = "mb-12", hClass } = Astro.props;
---

<hgroup class:list={["text-center", className]}>
  <Tag
    class:list={[
      "font-black tracking-tighter text-gray-800 uppercase",
      Tag === "h1" ? "text-3xl lg:text-4xl xl:text-5xl" : "",
      Tag === "h2" ? "text-2xl md:text-3xl xl:text-4xl" : "",
      Tag === "h3" ? "text-xl md:text-2xl xl:text-3xl" : "",
      hClass,
    ]}>{label}</Tag
  >
  {
    deskripsi && (
      <p
        class={`mx-auto text-gray-600 mt-2 ${Tag === "h1" ? "md:mt-4" : ""} md:max-w-xl lg:max-w-2xl`}
      >
        {deskripsi}
      </p>
    )
  }
</hgroup>
